<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Review</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
      <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
    <link rel='stylesheet' href='main.css'>
  </head>
  <body>

    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Check out our Movies!</h1>
          <h2 class="subtitle">and help us grow out list</h2>
        </div>
      </div>
    </section>

    <div class="tabs is-medium">
      <ul>
        <li class="is-dark"><a href='/'>Home</a></li>
        <li class="is-dark"><a href='/directors'>See Directors</a></li>
        <li class="is-dark"><a href='/actors'>See Actors</a></li>
      </ul>
    </div>


    {{#each movieData}}
      <h1 class="subtitle movie">{{title}}</h1>
    {{/each}}

    




    <h3>Add a Movie</h3>
      <form name="form" action='/newmovie' method='post'>
        <label>Movie Title</label>
        <input class='input' type='text' name='title' value=''>
        <label>Movie Director</label>
        <input class='input' type='text' name='name' value=''>
        <div class="select">
          <select name='role' value=''>
            <option value='Director'>Director</option>
            <option value='Actor'>Actor</option>
          </select>
        </div>

        <button class='button'>Add</button>

    </form>
  </body>
</html>
